<form hx-post="/editor" hx-target="#detail" hx-push-url="true">
  <div><button type="submit">Save</button></div>
  <hr />
  <input type="text" name="title" placeholder="Untitled document" />
  <textarea name="text"></textarea>
</form>
