{{#contentFor "title"}}Foo{{/contentFor}}

  <h1>
    {{> back text=context.backButton}}
    {{context.foo}}
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique maxime, ipsam vel consequuntur obcaecati aliquid
    praesentium provident accusamus delectus sunt quia nam molestias illo quae accusantium nemo doloribus explicabo
    recusandae?</p>
