html {
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
}

.sidebar {
  margin-right: 10px;
  width: 100px;
}

#detail {
  background-color: burlywood;
  width: 100%;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 140px;
}

a.active {
  font-weight: bold;
  color: black;
}
