<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    html {
      font-family: sans-serif;
    }

    #container {
      transition: all 500ms;
    }

    #container.htmx-settling {
      background-color: red;
    }
  </style>
  <title>Counter</title>
</head>

<body>
  <h1>
    <a href="/" style="text-decoration:none">⬅️</a>
    Counter
  </h1>
  <div id="container">
    {{> counter state=state}}
  </div>
  <script src="https://unpkg.com/htmx.org@1.3.3"></script>
  <script>
    document.body.addEventListener('htmx:configRequest', function (evt) {
      evt.detail.parameters['_csrf'] = "{{state.csrfToken}}"; // add a new parameter into the mix
    });

    document.body.addEventListener('htmx:responseError', (event) => {
      console.log('>>>>>', event);
    })

    document.body.addEventListener('htmx:sendError', (event) => {
      console.log('>>>>>', event);
    })
  </script>
</body>

</html>
